.bonus-blocks {
	section {
		// Custom blocks
		&.custom-blocks {
			article {
				width: 100%;
				.row-bonus {
					img {
						width: 100%;
						height: auto;
					}

					figure {
						margin: 0 0 0 0;
					}
					
					// General text
					.side-text {
						position: relative;
						text-align: center;
						color: $black;
						h3 {
							font-family: $karla;
							font-weight: bold;
							@include font(35px);
							margin-bottom: rem(16px);
						}
						p {
							font-family: $play;
							@include font(23px);
							line-height: 1.4;
							color: $black;
						}
					}

					// Default CTA
					.cta-bonus {
						text-align: center;
						margin: rem(15px) auto;
						a {
							@include btnBlack(rem(10px), rem(20px), rem(18px));
							display: block;
							@include mq(md){
								display: inline-block;
							}
						}
					}
					
					// First Bonus
					&.bonus-1 {
						display: block;
						@include mq(md){
							display: flex;
						}
						.side-thumb {
							@include mq(md){
								width: 40%;
							}
						}
						.side-text {
							@include mq(md){
								width: 60%;
							}
							.text-wrapper {
								width: 96%;
								margin: rem(20px) auto;
								@include mq(md){
									position: absolute;
									width: 80%;
									max-width: 860px;
									top: 35%;
									left: 50%;
									transform: translate(-50%,-50%);
								}
								
								span {
									@include mq(md){
										margin-top: rem(50px);
									}
									font-family: $karla;
									font-weight: bold;
									@include font(20px);
								}
							}

							.cta-bonus {
								
								@include mq(md){
									width: rem(200px);
									position: absolute;
									bottom: rem(25px);
									right: rem(25px);
								}
							}
						}
					}

					// Second Block
					&.bonus-2 {
						display: block;
						@include mq(md){
							display: flex;
						}
						.side-thumb {
							@include mq(md){
								width: 60%;
							}
						}
						.side-text {
							@include mq(md){
								width: 40%;
							}
							.text-wrapper {
								width: 96%;
								margin: rem(20px) auto;
								@include mq(md){
									position: absolute;
									width: 80%;
									max-width: 560px;
									top: 35%;
									left: 50%;
									transform: translate(-50%,-50%);
								}
							}
							h4 {
								@include mq(md){
									@include font(25px);
									padding: rem(40px) 0;
								}
							}
						}
					}
				}
			}
		}
	}
}