.bonus-blocks {
	section {
		// Custom blocks
		&.custom-blocks {
			@include mq(md){
				display: flex;
			}
			article {
				width: 100%;
				padding: rem(20px);
				text-align: center;
				@include mq(md){
					padding: rem(20px) rem(30px) rem(30px);
				}

				&:first-child {
					@include mq(md){
						width: 40%;
					}
				}

				&:last-child {
					@include mq(md){
						width: 60%;
					}
				}

				img {
					width: 100%;
					height: auto;
				}

				.text-wrapper {
					margin: rem(10px) auto 0;
					max-width: rem(650px);
				}

				h3 {
					font-family: $karla;
					font-weight: bold;
					@include font(35px);
					margin-bottom: rem(16px);
				}

				h4 {
					@include mq(md){
						@include font(25px);
						padding: rem(10px) 0;
					}
				}				
				
				p {
					font-family: $play;
					@include font(23px);
					line-height: 1.4;
					color: $black;
				}

				// Default CTA
				.cta-bonus {
					text-align: center;
					margin: rem(15px) auto;
					a {
						@include btnBlack(rem(10px), rem(20px), rem(18px));
						display: block;
						@include mq(md){
							display: inline-block;
						}
					}
				}
			}
		}
	}
}