<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>envia_prestashop</name>
	<displayName><![CDATA[Módulo de envía]]></displayName>
	<version><![CDATA[0.0.2]]></version>
	<description><![CDATA[Módulo que permite shipping integrado con envía.]]></description>
	<author><![CDATA[Depura Creatividad]]></author>
	<tab><![CDATA[shipping_logistics]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
