body {
	#main {
		section {
			&.featured-products {
				background-color: $grayLt;
				padding: rem(15px) 0;
				text-align: center;				
				h2 {
					@include font(20px);
					@include mq('sm'){
						@include font(35px);
					}
				}
				a {
					&.all-product-link {
						@include btnBlack(rem(10px), rem(20px), rem(18px));
						text-decoration: none;
						margin: rem(22px) auto;
						text-transform: uppercase;
						float: none !important;
					}					
				}
				.products {
					text-align: center;
					margin: 0 auto;
					@include mq('md'){
						justify-content: center;
					}
					.product-miniature {
						@include mq('md'){
							max-width: 18%;
						}												
						.thumbnail-container {
							background: transparent;
							box-shadow: none;
							h3 {
								&.h3 {
									text-align: center;
									color: $black;
									@include font(25px);
								}
							}
						}
					}
				}	
			}
		}
	}
}