.counterContainer{
	height: 500px;
	@include mq ('md'){
	height: 800px;
	}
}
.countdownContainer{
	text-align: center;
	padding: 8% 20%;
}

.info-title h2{
	font-family: karla;
	font-size: 50px;
	font-weight: 700;
	color: $white;
	letter-spacing: 8px;
	@include mq ('md'){
		font-size: 80px;
	}
}
.info-title hr{
	border-top: 4px solid $white;
}
.info-numeros{
	display: flex;
	justify-content: center;

	h3{
		font-size: 35px;
    color: white;
		padding: 5px 15px;
		font-family: karla;
		@include mq ('md'){
			font-size: 100px;
			padding: 20px 35px;
		}
	}
	h2{
		font-size: 18px;
		color: white;
		font-family: karla;
		@include mq ('md'){
			font-size: 50px;
			padding: 35px;
		}
	}

}
.esperalo h3{
	font-family: karla;
	color: white;
	font-size: 30px;
	letter-spacing: 4px;
}


#custom-text {
	.row {
		&.row-banner {
			display: block;
			text-align: center;
			margin: 0 0 0 0;
			h2 {
				@include font(20px);
				line-height: 1;
				margin: 0;
				@include mq(sm){
					@include font(35px);
				}
			}
			p {
				@include font(18px);
				display: block;
				max-width: rem(600px);
				margin: rem(20px) auto;
				@include mq(sm){
					@include font(20px);
				}
			}

			// Simple white banner
			&.row-banner--white {
				background-color: $white;
				padding: rem(70px) 0;
			}
			// Image block
			&.row-banner--bg-photo {
				background-color: $black;
				background-image: url('../img/bgs/bg-home-telas.jpg');
				padding: rem(65px) 0;
				@include bgparallax;
				h2, p {
					color: $white;
				}
				@include mq('md') {
					padding: rem(105px) 0;
				}
			}
		}
	}
}
