body {
	&.page-index {
		ul {
			&.parent-three {
				padding: 0 0 0 0;
				.parent-three-cat {
					display: none;
				}

				// Wrapper list
				.childs {
					ul {
						padding: 0;
						width: 100%;
						margin: 0 auto;
						li {
							&.thumb-category {
								position: relative;
								display: none;
								width: 100%;
								height: auto;
								margin-bottom: rem(16px);
								&:nth-child(1),
								&:nth-child(2),
								&:nth-child(3),
								&:nth-child(4) {
									display: block;
								}
								@include mq('md') {									
									vertical-align: top;
									width: 48%;
									margin: 1%;
									&:nth-child(1),
									&:nth-child(2),
									&:nth-child(3),
									&:nth-child(4) {
										display: inline-block;
									}
								}
								figure {
									margin: 0 0 0 0;
									img {
										display: block;
										width: 100%;
										height: auto;
									}
								}

								a {
									&.thumb-btn {
										text-transform: uppercase;
										@include btnOpBlack(rem(15px), rem(32px), rem(34px));
										font-family: $karla;
										@include center('both');
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
