body {
	.carousel {
		margin: 0 0 0 0;
		clear: both;
		float: none;
		
		.direction {
			.carousel-control {
				text-shadow: none;
				&.left {
					left: 7px;
				}
				&.right {
					right: 7px;
				}
			}
		}
	
		.carousel-inner {
			position: relative;
			width: 100%;
			height: 100vh;
			max-height: rem(700px);
			.carousel-item {
				position: relative;
				width: 100%;
				height: 100vh;
				max-height: rem(700px);
				@include bgcover;

				img {
					width: auto;
					height: auto;
				}
				a {
					text-decoration: none;
					> img {
						display: none;
					}
				}

				// Caption image
				.caption {					
					display: block;
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					max-width: inherit;
					background-color: $op_black;
					@include mq(sm){
						@include center('vertical');
						width: 35%;
						bottom: unset;
						left: unset;
						right: 0;
						background-color: transparent;
					}

					img {
						display: none;
						@include mq(sm){ 
							display: inline-block;
						}	
					}

					h3 {
						color: $white;
						text-decoration: none;
						@include mq(sm){
							color: $black;
							@include font(40px);
						}
					}

					a {
						&.btn {
							@include btnBlack(rem(10px), rem(20px), rem(18px));
							text-decoration: none;
						}
					}					
				}
			}
		}
	}
}