body {
	.carousel {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		clear: both;
		float: none;
		
		.direction {
			.carousel-control {
				text-shadow: none;
				&.left {
					left: 7px;
				}
				&.right {
					right: 7px;
				}
			}
		}
	
		.carousel-inner {
			position: relative;
			width: 100%;
			height: auto;				
			margin: 0 0 0 0;
			padding: 0 0 0 0;
			
			.carousel-item {
				position: relative;
				width: 100%;
				@include bgcover;
				background-position: left top;
				margin: 0 0 0 0;
				padding: 0 0 0 0;
				@include mq(sm){
					margin-top: -16px;
				}			
				figure {
					> img {
						display: block;
						width: 100%;
						height: auto;
					}
					> a {
						> img {
							display: block;
							max-width: 100%;
							height: auto;
						}
					}
				}

				img {
					width: auto;
					height: auto;
				}

				a {
					text-decoration: none;
					> img {
						display: none;
					}
				}

				// Caption image
				.caption {					
					display: block;
					position: relative;
					margin: 0 0;
					left: 0;
					top: 0;
					right: 0;
					width: 100%;
					max-width: inherit;
					background-color: rgba($black,0.85);
					padding: rem(52px) rem(22px) rem(32px);
					@include mq(sm){
						padding: rem(22px) rem(22px) rem(32px);
						@include center('vertical');
						width: 35%;
						padding: inherit;
						bottom: unset;
						left: unset;
						right: 0;
						background-color: transparent;
					}

					img {
						display: none;
						@include mq(sm){ 
							display: inline-block;
						}	
					}

					h1, h3, h2, p {
						color: $white;
						text-decoration: none;
						@include mq(sm){
							color: $black;
							@include font(40px);
						}
					}

					h1 {
						color: $white !important;
						@include mq(sm){
							color: $black !important;
						}
					}

					a {
						&.btn {
							@include btnBlack(rem(10px), rem(20px), rem(18px));
							text-decoration: none;
						}
					}					
				}
			}
		}
	}
}