footer {
	.navbar-fixed-bottom {
		width: rem(150px);
		height: rem(150px);
		right: rem(13px);
		bottom: rem(13px);
		left: initial;
	}
	.off-fix{
		display: none;

		@include mq(xs){
			text-align: right;			
			display: block;
		}
	}
	&#footer {
		margin-top: rem(40px);

		// Hide notes footer
		#footer_account_list {
			li {
				&:nth-child(3){
					display: none;
				}
			}
		}

		// block social
		ul {
			&.isocial {
				li {
					a {
						display: block;
						float: none;
						width: 35px;
						height: 35px;
						border-radius: 100%;
						background-position: center;
						background-color: $black;
						background-size: 65%;
						background-repeat: no-repeat;
						margin: 0 10px;
						&.twitter{
							background-image: url('../img/svg/twitter.svg');
						}
						&.instagram{
							background-image: url('../img/svg/instagram-logo-white.svg');
						}
						&.facebook{
							background-image: url('../img/svg/facebook-logo-white.svg');
						}
					}
				}
			}
		}
	}
}
