form {
	display: block;
	position: relative;
	text-align: left;
	.form-fields {
		text-align: left;
		> label {
			display: block;
			margin: 15px 0;
			> span {
				display: block;
				@include font(17px);
				text-transform: uppercase;
				text-align: left;
				line-height: 1.5;
			}
			select {
				display: block;
				width: 100%;
				border: none;
				background-color: $gray;
				color: $black;
				font-size: rem(18px);
				padding: rem(15px) rem(12px);
			}
			input {
				&[type="text"],
				&[type="email"],
				&[type="tel"],
				&[type="file"] {
					display: block;
					width: 100%;
					border: none;
					background-color: $gray;
					color: $black;
					font-size: rem(18px);
					padding: rem(15px) rem(12px);
					@include placeholder {
						color: $black;
					}
				}
			}

			textarea {
				display: block;
				width: 100%;
				border: none;
				background-color: $gray;
				color: $black;
				font-size: rem(18px);
				padding: rem(15px) rem(12px);
			}
		}
	}

	footer {
		button {
			display: inline-block;
			text-transform: uppercase;
			@include btnBlack(rem(10px), rem(20px), rem(20px));
		}
	}
}