body {
	font-size: 16px;
	font-family: $karla;
	color: $black;
	// font titles
	h1,h2,h3,h4,h5 {
		font-family: $karla;
		font-weight: bold;		
	}

	// style for anchors
	a {
		transition: all 0.3s;
		color: $black;
	}

	p {
		color: $black;
	}

	// Hide Category block
	.block-category {
		&.card {
			&.card-block {
				display: none;
			}
		}
	}

	header {
		&.page-header {
			padding: rem(14px) 0;
			text-align: center;
			h1 {
				font-family: $play-sc;
				font-weight: bold;
				font-size: 35px;
			}
		}
	}

	#wrapper {
		padding: rem(50px) 0;
	}
	
	&.page-index,
	&.cms-id-9 {
		#wrapper {
			padding: inherit;
		}
	}

	.panel {
		&-heading,
		&-body {
			padding: 1.3rem;
		}

		&-heading {
			border-bottom: 1px solid;
		}
	}
}