
// Fonts

$karla:  'Karla';
$myriad: 'Myriad Pro';
$play:   'Playfair Display';
$play-sc:'Playfair Display SC';

// Colors

$white:  #ffffff;
$black:  #000000;
$gray:   #D3D3D3;
$grayLt: #F7F7F7;
$grayBd: #e2e2e2;


// Opacities

$op_white : rgba(255,255,255,0.7);
$op_black : rgba(0, 0, 0, 0.24);
