.middle-blocks {
	display: block;
	@include mq(sm){
		display: flex;
	}

	section {
		&.custom-blocks {
			overflow: hidden;
			width: 100%;
			.custom-block-item {
				display: block;
				width: 100%;
				text-align: center;
				@include mq(sm){
					width: 50%;
					float: left;
					padding: 1%;
				}

				.block--item {
					&-size {
						padding-bottom: rem(30px);
						@include mq(md){
							padding: 0 rem(20px) rem(30px);
						}
					}
				}
				
				h2,
				h3 {
					display: block;
					position: relative;
					padding: rem(22px);
					@include font(20px);
					margin: 0;
					@include mq(sm){
						@include font(35px);
					}
				}
				p {
					font-family: $play;
					@include font(16px);
					margin: 0 0 0 0;
					color: $black;
					@include mq(sm){
						display: block;
						margin: rem(15px) auto;
						max-width: rem(600px);
						line-height: 1.4;
					}
				}
				img {
					display: block;
					width: 100%;
					height: auto;
				}
			}
		}
	}
}
