.middle-blocks {
	display: block;
	@include mq(sm){
		display: flex;
	}

	section {
		&.custom-blocks {
			overflow: hidden;
			padding: 2%;
			.custom-block-item {
				display: block;
				width: 100%;
				text-align: center;
				@include mq(sm){
					width: 50%;
					float: left;
					padding: 1%;
				}
				> div {
					max-width: rem(520px);
					margin: 0 auto;
					padding: rem(40px) 0;
					text-align: center;
				}
				h2,
				h3 {
					display: block;
					position: relative;
					padding: rem(22px);
					@include font(25px);
					margin: 0;
					@include mq(sm){
						@include font(35px);
					}
				}
				p {
					font-family: $play;
					@include font(16px);
					margin: 0 0 0 0;
					color: block;
					@include mq(sm){
						@include font(20px);
						line-height: 1.4;
					}
				}
				img {
					display: block;
					width: 100%;
					height: auto;
				}
				&:first-child {
					@include mq(sm){
						h2,h3 {
							&::after {
								content:"";
								@include arrow('right', $black, rem(14px));
								display: inline-block;
								vertical-align: middle;
								margin-left: rem(15px);
							}
						}
					}
				}
				&:nth-child(2){
					h2,h3 {
						&::before {
							content:"";
							@include arrow('left', $black, rem(14px));
							display: inline-block;
							vertical-align: middle;
							margin-right: rem(15px);
						}
					}
				}
				&:last-child {
					@include mq(sm){
						width: 100%;
						clear: both;
					}
					display: block;
					text-align: center;
					padding: rem(40px) 0;
					h2 {
						@include font(45px);
						line-height: 1;
						margin: 0;
					}
					p {
						font-family: $play;
						@include font(20px);
						display: block;
						max-width: rem(600px);
						margin: 0 auto;
						@include mq(sm){
							@include font(28px);
							line-height: 1.4;
						}
					}
				}
			}
		}
	}
}
