a.add-to-cart, a.add-to-cart:hover
  display inline-block
  margin small-padding
  text-decoration none
  color cta-color
  border 1px solid cta-color
  padding small-padding
  background-color cta-background-color
  font-weight bold

.category-cover img
  width 100%

.subcategories > ul
  display flex
  flex-wrap wrap
  align-items stretch
  justify-content flex-start

.product-miniature, .category-miniature
  background-color white

.subcategories > ul > li
  overflow hidden
  margin-bottom 25px
  margin-right 25px
  max-width 300px
  text-align center
  border 1px solid #ccc
  padding 15px
  flex-grow 1
  background-color white

.category-miniature img
  max-width 100%

.category-miniature .category-description
  text-align left