body {
	&.cms-id-9 {
		p {
			@include font(16px);
			line-height: 1.3;
			color: $black;
			@include mq('md') {
				@include font(20px);
			}
		}

		figure {
			margin: 0 0 0 0;
			img {
				width: 100%;
				height: auto;
			}
		}

		// Reset layout
		.page-content {
			&.page-cms {
				margin: 0 0 0 0;
				padding: 0 0 0 0;
			}
		}

		header {
			&.page-header {
				display: none;
			}
		}
		
		section {
			// Reset layout
			&#wrapper{
				> .container {
					float: none;
					clear: both;
					margin: 0 0 0 0;
					padding: 0 0 0 0;
					width: 100%;
					max-width: 100%;
					text-align: center;
					> .row {
						float: none;
						clear: both;
						margin: 0 0 0 0;
						padding: 0 0 0 0;
						width: 100%;
						max-width: 100%;
					}
				}
				#custom-text {
					padding: 0 0 0 0;
				}
				.breadcrumb {
					display: none;
				}
			}
		}
		
		// Hero Banner
		.hero-banner {
			background-color: $black;
			background-image: url('../img/bgs/bg-block-about.jpg');
			@include bgparallax;
			position: relative;
			width: 100%;
			height: rem(300px);
			@include mq('md') {
				height: rem(400px);
				padding: rem(105px) 0;	
			}

			img {
				display: block;
				max-width: 150px;
				height: auto;
				@include center('both');
			}
		}

		// Intro Block
		.intro {
			padding: rem(35px) 0;
			text-align: center;
			@include mq('md') {
				padding: rem(45px) 0;
			}
			p {
				display: inline-block;
				max-width: rem(800px);
			}
		}

		// Block 1 / 3
		.block-1,
		.block-3 {
			display: block;
			margin: rem(30px) 0;
			@include mq('md') {
				display: flex;
			}
			img {
				@include mq('md') {
					width: 50%;
					height: auto;
				}
			}
			&--text{
				position: relative;
				@include mq('md') {
					width: 50%;
				}
				.text-wrapper {
					max-width: 600px;
					text-align: center;
					@include mq('md') {
						@include center('both');
						width: 75%;
					}
					h3 {
						font-family: $karla;
						font-weight: bold;
						@include font(35px);
						margin-bottom: rem(16px);
						display: inline-block;
					}
					p {
						font-family: $play;
						color: $black;
					}
				}
			}
		}

		.block-1 {
			&--text {
				.text-wrapper {
					h3 {
						&::before {
							content:"";
							@include arrow('left', $black, rem(14px));
							display: inline-block;
							vertical-align: middle;
							margin-right: rem(15px);
						}
					}
				}
			}
		}

		.block-3 {
			&--text {
				.text-wrapper {
					h3 {
						&::after {
							content:"";
							@include arrow('right', $black, rem(14px));
							display: inline-block;
							vertical-align: middle;
							margin-left: rem(15px);
						}
					}
				}
			}
		}

		// Block 2
		.block-2 {
			padding: rem(35px) 0;
			text-align: center;
			@include mq('md') {
				padding: rem(40px) rem(200px);
			}
			h3 {
				font-family: $karla;
				font-weight: bold;
				@include font(35px);
				margin-bottom: rem(16px);
			}
			p {
				font-family: $play;
				color: $black;
			}
		}
	}
}