body {
	&.page-index {
		aside,
		.page-header {
			display: none;
		}

		section {
			// Reset layout
			&#wrapper{
				> .container {
					float: none;
					clear: both;
					margin: 0 0 0 0;
					padding: 0 0 0 0;
					width: 100%;
					max-width: 100%;
					> .row {
						float: none;
						clear: both;
						margin: 0 0 0 0;
						padding: 0 0 0 0;
						width: 100%;
						max-width: 100%;
					}
				}
				#custom-text {
					padding: 0 0 0 0;
				}
				.breadcrumb {
					display: none;
				}
			}
			// Main styles
			&#main {
				> section {
					h1 {
						text-align: center;
						display: inline-block;
						@include font(20px);
						color: $black;
						line-height: 1;
						@include mq(sm){
							@include font(35px);
						}
					}
				}
			}

			&.custom-blocks {
				padding: rem(30px) rem(20px);
				@include mq(sm){
					display: flex;
				}
				.custom-block-item {
					display: block;
					width: 100%;
					text-align: center;
					@include mq(sm){
						width: 50%;
					}
					h2,
					h3 {
						display: block;
						position: relative;
						padding: rem(22px);
						@include font(25px);
						margin: 0;
						@include mq(sm){
							@include font(40px);
						}
					}

					p {						
						@include font(16px);
						margin: 0 0 0 0;
						padding: 0 rem(25px);
						@include mq(sm){
							padding: inherit;
							@include font(20px);
						}
						a {
							font-family: $karla;
						}
					}

					img {
						display: block;
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
}