body {
	&.cms-id-7 {
		// Reset layout
		.page-content {
			&.page-cms {
				margin: 0 0 0 0;
				padding: 0 0 0 0;
			}
		}
		header {
			&.page-header {
				display: none;
			}
		}
		section {
			// Reset layout
			&#wrapper{
				> .container {
					float: none;
					clear: both;
					margin: 0 0 0 0;
					padding: 0 0 0 0;
					width: 100%;
					max-width: 100%;
					> .row {
						float: none;
						clear: both;
						margin: 0 0 0 0;
						padding: 0 0 0 0;
						width: 100%;
						max-width: 100%;
					}
				}
				#custom-text {
					padding: 0 0 0 0;
				}
				.breadcrumb {
					display: none;
				}
			}
			// Main styles
			&#main {
				> section {
					h1 {
						text-align: center;
						display: inline-block;
						@include font(45px);
						color: $black;
						line-height: 1;
					}
				}
			}
		}
	}
}